

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron text-center">
    <h1>Welcome to Coursera </h1>
    <p>Your go-to platform for online courses!</p>
    <p>
        <a href="@Url.Action("Signup", "Account")" class="btn btn-primary btn-lg">Sign Up</a>
        <a href="@Url.Action("Login", "Account")" class="btn btn-secondary btn-lg">Login</a>
    </p>
</div>
